@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Geist Mono", "Inter", sans-serif;
  background-color: var(--color-backgroundMain);
}

@theme {
  --color-textPrimary: hsl(var(--txt));
  --color-textSecondary: hsl(var(--dtxt));

  --color-borderLight: hsl(var(--pbdr));
  --color-borderStrong: hsl(var(--sbdr));

  --color-accentPrimary: hsl(var(--pac));

  --color-cardBackground: hsl(var(--card));

  --color-backgroundMain: hsl(var(--bgMain));
  --color-backgroundAlt: hsl(var(--bgAlt));

  --color-iconColor: hsl(var(--icon));
  --color-darkIconColor: hsl(var(--darkicon));
  --color-iconBackground: var(--iconBg);
  --color-floatingButton: var(--floatBg);

  --color-line: hsl(var(--pbdr));
}

@layer base {
  :root[data-theme="light"] {
    --txt: 215, 14%, 34%;
    --pbdr: 220, 13%, 91%;
    --sbdr: 220, 13%, 91%;
    --pac: 166.15, 76.47%, 96.67%;
    --card: 0, 0%, 100%;
    --bgMain: 0, 0%, 97.3%;
    --bgAlt: 0, 0%, 100%;
    --icon: 0, 0%, 0%;
    --iconBg: 0, 0%, 100%;
    --floatBg: black;
  }

  :root[data-theme="dark"] {
    --txt: 220, 8.94%, 46.08%;
    --dtxt: 216, 33%, 68%;
    --pbdr: 217, 49%, 20%;
    --sbdr: 220, 14%, 96%;
    --pac: 166.15, 76.47%, 96.67%;
    --card: 222, 44%, 13%;
    --bgMain: 223, 47%, 11%;
    --bgAlt: 222, 44%, 13%;
    --icon: 216, 33%, 68%;
    --darkicon: 173, 80%, 40%;
    --iconBg: transparent;
    --floatBg: white;
  }
}
